<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.0.96/css/materialdesignicons.min.css"
    integrity="sha512-fXnjLwoVZ01NUqS/7G5kAnhXNXat6v7e3M9PhoMHOTARUMCaf5qNO84r5x9AFf5HDzm3rEZD8sb/n6dZ19SzFA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header>
    <div class="header container flex justify-space-between align-center">
      <h1>
        <img class="logo"
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png"
          alt="logo">
      </h1>
      <nav>
        <ul class="menu">
          <li><a href="http://www.google.com">系列鏡框</a></li>
          <li><a href="http://www.google.com">門市據點</a></li>
          <li><a href="http://www.google.com">部落格</a></li>
          <li><a href="http://www.google.com">常見問題</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <%- contents %>

    <footer>
      <div class="container">
        <div class="top">
          <ul class="menu shortcuts">
            <li><a href="http://www.google.com">首頁</a></li>
            <li><a href="http://www.google.com">系列鏡框</a></li>
            <li><a href="http://www.google.com">門市據點</a></li>
            <li><a href="http://www.google.com">部落格</a></li>
            <li><a href="http://www.google.com">常見問題</a></li>
          </ul>

          <ul class="menu social-icons">
            <li><a href="http://www.google.com"><img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic-social-fb.png"
                  alt="facebook icon"></a></li>
            <li><a href="http://www.google.com"><img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_ig.png"
                  alt="instagram icon"></a></li>
            <li><a href="http://www.google.com"><img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_line.png"
                  alt="line icon"></a></li>
          </ul>

          <ul class="contact-ways">
            <li>
              <span class="mdi mdi-phone-outline"></span>
              <a href="tel:+0800-000-000">0800-000-000</a>
            </li>
            <li>
              <span class="mdi mdi-email-outline"></span>
              <a href="mailto:glasses@business.com">glasses@business.com</a>
            </li>
          </ul>
        </div>
        <div class="divider"></div>
        <ul class="tnc">
          <li>
            <span class="copyright">Copyright © 2020 Glasses.All rights reserved.</span>
          </li>
          <li>
            <ul class="menu">
              <li><a href="http://www.google.com">隱私權政策</a></li>
              <li><a href="http://www.google.com">服務條款</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>