section {
    padding: 80px 0;
}

.container {
    width: 1296px;
    margin: 0 auto;
}

.hero-banner {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png");
    height: 787px;
    background-size: cover;
}

.slogan {
    text-align: right;
    padding-top: 296px;
    padding-right: 311px;

    & h2,
    & h4 {
        color: $color-primary-title;
    }
    & h2 {
        font-weight: bold;
    }
}

.purchase-now {
    color: #fff;
    background-color: $color-primary-main;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 29px;
}

.section-title {
    color: $color-primary-title;
    line-height: 72px;
    text-align: center;
    font-weight: bold;
}

.feature {
    background-color: $color-secondary-main;
}

.feature-points {
    display: flex;
    justify-content: center;
    gap: 24px;

    & li {
        width: 306px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & h5 {
        color: $color-primary-title;
    }

    & .icon {
        width: 84px;
    }

    & p {
        font-size: 16px;
        line-height: 24px;
    }
}
