section {
    padding: 80px 0;
}

.hero-banner {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png");
    background-size: cover;
    background-position: center;

    .slogan {
        text-align: right;
        padding-top: 296px;
        padding-bottom: 296px;

        h2,
        h4 {
            color: $color-primary-title;
        }
        h2 {
            font-weight: bolder;
        }
    }

    .purchase-now {
        margin-top: 4px;

        a {
            color: #fff;
            background-color: $color-primary-main;
            padding: 6px 12px;
            text-decoration: none;
            font-size: 20px;
            line-height: 30px;
        }
    }
}

.section-title {
    color: $color-primary-title;
    line-height: 72px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 48px;
}

.feature {
    background-color: $color-secondary-main;

    .feature-points {
        display: flex;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;

        li {
            width: 306px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h5 {
            color: $color-primary-title;
        }

        .icon {
            width: 84px;
        }

        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.classic-frames {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;

    img {
        width: 416px;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {
        color: $color-primary-main;
        font-style: italic;
        font-weight: bolder;
    }
}

.design-frame {
    height: 608px;
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png");
    background-size: cover;
    background-position-x: center;

    .section-title {
        color: #fff;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        width: 50%;
    }

    .photo {
        background-size: cover;
        height: 240px;
    }

    .photo-double-a-plus {
        background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-1.png");
    }
    .photo-youth {
        background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-2.png");
    }

    .design-type {
        background-color: #fff;
        font-style: italic;
        color: $color-primary-main;
        font-weight: bolder;
        text-align: center;
    }
}

.customer-references {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    .reference-card {
        width: 306px;
        height: 511px;
        box-shadow: 0 2px 6px #00000029;
    }

    .photo {
        img {
            width: 100%;
        }
    }

    .body {
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        padding: 16px;
    }

    h6,
    p {
        color: #000;
        text-align: left;
        margin-bottom: 8px;
    }

    .footer-date {
        color: #707070;
        font-size: 14px;
        line-height: 21px;
    }
}

.contact-us {
    background-color: $color-secondary-main;

    .description {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 24px;
    }

    li {
        margin-bottom: 16px;
    }

    h6 {
        margin-bottom: 8px;
    }

    input:not([type="checkbox"]),
    textarea {
        width: 100%;
        padding: 6px 12px;
        font-size: 16px;
    }

    textarea {
        resize: none;
    }

    .submit {
        margin-top: 48px;
        display: flex;
        justify-content: center;

        button {
            background-color: $color-primary-main;
            padding: 16px 0;
            color: #fff;
            border: none;
            width: 65%;
            cursor: pointer;
            font-size: 16px;
            line-height: 24px;

            &:hover {
                background-color: lighten($color-primary-main, 5%);
            }
            &:active {
                background-color: darken($color-primary-main, 5%);
            }
        }
    }
}

@media (max-width: 992px) {
    .hero-banner {
        background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png");
    }

    .design-frame {
        background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg-sm.png");
        height: 960px;

        ul {
            gap: 24px;
        }

        li {
            width: 100%;
        }

        .photo-double-a-plus {
            background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-1-sm.png");
        }
        .photo-youth {
            background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-2-sm.png");
        }
    }
    .customer-references {
        .reference-card {
            width: 336px;

            .photo {
                height: 306px;
                overflow: hidden;
            }
        }
        
    }
}

@media (max-width: 767px) {
    section {
        padding: 40px 0;
    }

    .section-title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px;
    }

    .hero-banner {
        background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png");

        .slogan {
            padding-top: 144px;
            padding-bottom: 144px;
        }

        h2 {
            font-size: 24px;
            line-height: 36px;
        }

        h4 {
            font-size: 16px;
            line-height: 24px;
        }

        .purchase-now {
            font-size: 20px;
            line-height: 30px;
            margin-top: 8px;
        }
    }

    .feature {
        .feature-points {
            margin-top: 8px;
            li {
                width: 100%;
            }
        }

        h5 {
            font-weight: bolder;
        }
    }

    .classic-frames {
        img {
            width: 100%;
        }
    }

    .design-frame {
        height: 820px;

        .photo-double-a-plus {
            background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-1-sm.png");
        }
        .photo-youth {
            background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-2-sm.png");
        }
    }

    .customer-reference {
        .reference-card {
            width: 100%;
        }
    }

    .contact-us {
        .description {
            font-size: 16px;
            line-height: 24px;
        }
        .container-s {
            width: 100%;
            padding: 0 14px 0 13px;
        }

        .submit {
            margin-top: 24px;
            button {
                width: 100%;
            }
        }
        .agree {
            display: flex;
            justify-content: space-between;
            align-items: start;
        }
    }
}
