.position {
    padding-top: 96px;
    padding-bottom: 80px;
}

.choose-position {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 33px 0 40px 0;

    .store {
        height: 38px;
        width: 304px;
        color: #495057;
    }
}

.position-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    .information {
        width: 526px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .map {
        img {
            width: 100%;
        }
    }

    .body {
        .name,
        .content {
            border: 1px solid #00000020;
        }

        .name {
            padding: 8px 16px;
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 16px 24px;
            font-size: 20px;
            line-height: 30px;

            li {
                display: flex;
                gap: 12px;
            }
        }
    }
}

@media (max-width: 992px) {
    .position {
        padding-top: 80px;
    }

    .position-detail {
        .information,
        .map {
            width: 100%;
        }

        .information {
            ul {
                display: flex;
                gap: 24px;
            }

            .photo, .body {
                flex: 1;
            }
        }

        .map {
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 767px) {
    .position {
        padding-top: 40px;
        padding-bottom: 64px;
    }

    .choose-position {
        display: flex;
        gap: 8px;
        margin: 24px 0;

        h5 {
            font-size: 16px;
            line-height: 24px;
        }

        .store {
            flex: 1;
        }
    }

    .position-detail {
        .information {
            ul {
                display: initial;
            }
            
            .photo, .body {
                width: 100%;
            }
        }
    }
}