@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* {
  font-family: "微軟正黑體" !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  vertical-align: top; }

.container {
  width: 1296px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.container-s {
  width: 636px;
  margin: 0 auto; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

h2 {
  font-size: 64px;
  line-height: 96px; }

h3 {
  font-size: 48px;
  line-height: 72px; }

h4 {
  font-size: 36px;
  line-height: 54px; }

h5 {
  font-size: 24px;
  line-height: 36px; }

h6 {
  font-size: 16px;
  line-height: 24px; }

body {
  font-size: 16px;
  line-height: 16px; }

header .menu {
  line-height: 1.25rem;
  font-size: 1.25rem;
  gap: 80px; }

footer {
  padding: 48px 0; }
  footer .menu {
    gap: 48px; }
  footer .social-icons img {
    width: 48px; }

header,
footer {
  background-color: #AA0601; }

.logo {
  width: 80px;
  margin: 16px 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu a {
    text-decoration: none;
    color: #fff; }

.contact-ways {
  padding: 36px 0 32px 0;
  margin-bottom: 32px;
  color: #fff;
  font-size: 36px;
  line-height: 54px;
  border-bottom: 1px solid #fff; }
  .contact-ways li {
    margin-bottom: 8px; }
  .contact-ways i {
    margin-right: 20px; }

.tnc {
  color: #fff; }

section {
  padding: 80px 0; }

.hero-banner {
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png");
  height: 787px;
  background-size: cover; }

.slogan {
  text-align: right;
  padding-top: 296px; }
  .slogan h2,
  .slogan h4 {
    color: #650300; }
  .slogan h2 {
    font-weight: bolder; }

.purchase-now {
  color: #fff;
  background-color: #AA0601;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 29px; }

.section-title {
  color: #650300;
  line-height: 72px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 48px; }

.feature {
  background-color: #FBF2F2; }

.feature-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px; }
  .feature-points li {
    width: 306px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .feature-points h5 {
    color: #650300; }
  .feature-points .icon {
    width: 84px; }
  .feature-points p {
    font-size: 16px;
    line-height: 24px; }

.classic-frames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px; }
  .classic-frames img {
    width: 416px; }
  .classic-frames li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .classic-frames h3 {
    color: #AA0601;
    font-style: italic;
    font-weight: bolder; }

.design-frame {
  height: 608px;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png");
  background-size: cover; }
  .design-frame .section-title {
    color: #fff; }
  .design-frame img {
    height: 240px; }
  .design-frame ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .design-frame .design-type {
    background-color: #fff;
    font-style: italic;
    color: #AA0601;
    font-weight: bolder;
    text-align: center; }

.customer-references {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px; }
  .customer-references .reference-card {
    width: 306px;
    height: 511px;
    -webkit-box-shadow: 0 2px 6px #00000029;
            box-shadow: 0 2px 6px #00000029; }
  .customer-references .photo {
    width: 100%; }
  .customer-references .body {
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 16px; }
  .customer-references h6,
  .customer-references p {
    color: #000;
    text-align: left;
    margin-bottom: 8px; }
  .customer-references .footer-date {
    color: #707070;
    font-size: 14px;
    line-height: 21px; }

.contact-us {
  background-color: #FBF2F2; }
  .contact-us .description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px; }
  .contact-us li {
    margin-bottom: 16px; }
  .contact-us h6 {
    margin-bottom: 8px; }
  .contact-us input:not([type="checkbox"]), .contact-us textarea {
    width: 100%;
    padding: 6px 12px;
    font-size: 16px; }
  .contact-us textarea {
    resize: none; }
  .contact-us .submit {
    width: 416px;
    padding: 16px 0;
    margin: 48px auto 0 auto;
    background-color: #AA0601;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px; }
    .contact-us .submit:hover {
      background-color: #c30701; }
    .contact-us .submit:active {
      background-color: #910501; }

/*# sourceMappingURL=all.css.map */
