@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* {
  font-family: "微軟正黑體" !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  vertical-align: top; }

.container {
  width: 70%;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.container-s {
  width: 50%;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

h2 {
  font-size: 64px;
  line-height: 96px; }

h3 {
  font-size: 48px;
  line-height: 72px; }

h4 {
  font-size: 36px;
  line-height: 54px; }

h5 {
  font-size: 24px;
  line-height: 36px; }

h6 {
  font-size: 16px;
  line-height: 24px; }

.page-title {
  border-left: 8px solid #9f1213;
  padding-left: 16px;
  font-weight: bolder; }

@media (max-width: 767px) {
  .page-title {
    font-size: 24px;
    line-height: 36px; } }

body {
  font-size: 16px;
  line-height: 16px; }

header .menu {
  line-height: 1.85rem;
  font-size: 1.25rem;
  gap: 80px; }

footer {
  padding: 48px 0; }
  footer .divider {
    border-bottom: 1px solid #fff;
    margin: 32px 0; }
  footer .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  footer .menu {
    gap: 48px; }
  footer .social-icons {
    gap: 32px; }
    footer .social-icons img {
      width: 48px; }
  footer .contact-ways {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
    color: #fff;
    font-size: 36px;
    line-height: 54px;
    margin-top: 24px; }
    footer .contact-ways i {
      margin-right: 20px; }
  footer .bottom {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    footer .bottom .tnc {
      font-size: 14px;
      line-height: 21px; }

header,
footer {
  background-color: #AA0601; }
  header a,
  footer a {
    text-decoration: none;
    color: #fff; }

.logo {
  width: 80px;
  margin: 16px 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media (max-width: 992px) {
  .container {
    width: initial;
    padding: 0 36px; }
  header .menu {
    gap: 64px; } }

@media (max-width: 767px) {
  .container {
    padding: 0 14px 0 13px; }
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0; }
    .header h1,
    .header nav {
      width: 100%;
      text-align: center; }
    .header .menu {
      line-height: 1.5rem;
      font-size: 1rem;
      gap: 0;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .header nav li {
      width: 50%;
      border: 1px solid #fff; }
      .header nav li:hover {
        background-color: #c30701; }
      .header nav li:active {
        background-color: #910501; }
    .header nav a {
      display: block;
      width: 100%;
      padding: 12px 0; }
  footer {
    padding: 24px 0; }
    footer * {
      font-size: 16px;
      line-height: 24px; }
    footer .top {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start; }
    footer .shortcuts {
      display: none; }
    footer .social-icons {
      gap: 8px; }
      footer .social-icons img {
        width: 24px; }
    footer .contact-ways {
      width: initial;
      margin-top: 0; }
    footer .bottom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 8px; }
      footer .bottom .menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 8px; } }

section {
  padding: 80px 0; }

.hero-banner {
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png");
  background-size: cover;
  background-position: center; }
  .hero-banner .slogan {
    text-align: right;
    padding-top: 296px;
    padding-bottom: 296px; }
    .hero-banner .slogan h2,
    .hero-banner .slogan h4 {
      color: #650300; }
    .hero-banner .slogan h2 {
      font-weight: bolder; }
  .hero-banner .purchase-now {
    margin-top: 4px; }
    .hero-banner .purchase-now a {
      color: #fff;
      background-color: #AA0601;
      padding: 6px 12px;
      text-decoration: none;
      font-size: 20px;
      line-height: 30px; }

.section-title {
  color: #650300;
  line-height: 72px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 48px; }

.feature {
  background-color: #FBF2F2; }
  .feature .feature-points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .feature .feature-points li {
      width: 306px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .feature .feature-points h5 {
      color: #650300; }
    .feature .feature-points .icon {
      width: 84px; }
    .feature .feature-points p {
      font-size: 16px;
      line-height: 24px; }

.classic-frames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .classic-frames img {
    width: 416px; }
  .classic-frames li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .classic-frames h3 {
    color: #AA0601;
    font-style: italic;
    font-weight: bolder; }

.design-frame {
  height: 608px;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png");
  background-size: cover;
  background-position-x: center; }
  .design-frame .section-title {
    color: #fff; }
  .design-frame ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .design-frame li {
    width: 50%; }
  .design-frame .photo {
    background-size: cover;
    height: 240px; }
  .design-frame .photo-double-a-plus {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-1.png"); }
  .design-frame .photo-youth {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-2.png"); }
  .design-frame .design-type {
    background-color: #fff;
    font-style: italic;
    color: #AA0601;
    font-weight: bolder;
    text-align: center; }

.customer-references {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px; }
  .customer-references .reference-card {
    width: 306px;
    height: 511px;
    -webkit-box-shadow: 0 2px 6px #00000029;
            box-shadow: 0 2px 6px #00000029; }
  .customer-references .photo img {
    width: 100%; }
  .customer-references .body {
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 16px; }
  .customer-references h6,
  .customer-references p {
    color: #000;
    text-align: left;
    margin-bottom: 8px; }
  .customer-references .footer-date {
    color: #707070;
    font-size: 14px;
    line-height: 21px; }

.contact-us {
  background-color: #FBF2F2; }
  .contact-us .description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px; }
  .contact-us li {
    margin-bottom: 16px; }
  .contact-us h6 {
    margin-bottom: 8px; }
  .contact-us input:not([type="checkbox"]),
  .contact-us textarea {
    width: 100%;
    padding: 6px 12px;
    font-size: 16px; }
  .contact-us textarea {
    resize: none; }
  .contact-us .submit {
    margin-top: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .contact-us .submit button {
      background-color: #AA0601;
      padding: 16px 0;
      color: #fff;
      border: none;
      width: 65%;
      cursor: pointer;
      font-size: 16px;
      line-height: 24px; }
      .contact-us .submit button:hover {
        background-color: #c30701; }
      .contact-us .submit button:active {
        background-color: #910501; }
  .contact-us .agree {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .contact-us .agree input[type="checkbox"] {
      margin-top: 0; }

@media (max-width: 992px) {
  .hero-banner {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png"); }
  .design-frame {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg-sm.png");
    height: 960px; }
    .design-frame ul {
      gap: 24px; }
    .design-frame li {
      width: 100%; }
    .design-frame .photo-double-a-plus {
      background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-1-sm.png"); }
    .design-frame .photo-youth {
      background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-2-sm.png"); }
  .customer-references .reference-card {
    width: 336px; }
    .customer-references .reference-card .photo {
      height: 306px;
      overflow: hidden; } }

@media (max-width: 767px) {
  section {
    padding: 40px 0; }
  .section-title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px; }
  .hero-banner {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png"); }
    .hero-banner .slogan {
      padding-top: 144px;
      padding-bottom: 144px; }
    .hero-banner h2 {
      font-size: 24px;
      line-height: 36px; }
    .hero-banner h4 {
      font-size: 16px;
      line-height: 24px; }
    .hero-banner .purchase-now {
      font-size: 20px;
      line-height: 30px;
      margin-top: 8px; }
  .feature .feature-points {
    margin-top: 8px; }
    .feature .feature-points li {
      width: 100%; }
  .feature h5 {
    font-weight: bolder; }
  .classic-frames img {
    width: 100%; }
  .design-frame {
    height: 820px; }
    .design-frame .photo-double-a-plus {
      background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-1-sm.png"); }
    .design-frame .photo-youth {
      background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-2-sm.png"); }
  .customer-reference .reference-card {
    width: 100%; }
  .contact-us .description {
    font-size: 16px;
    line-height: 24px; }
  .contact-us .container-s {
    width: 100%;
    padding: 0 14px 0 13px; }
  .contact-us .submit {
    margin-top: 24px; }
    .contact-us .submit button {
      width: 100%; } }

.position {
  padding-top: 96px;
  padding-bottom: 80px; }

.choose-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 33px 0 40px 0; }
  .choose-position .store {
    height: 38px;
    width: 304px;
    color: #495057; }

.position-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px; }
  .position-detail .information {
    width: 526px; }
    .position-detail .information img {
      width: 100%;
      height: 100%; }
  .position-detail .map img {
    width: 100%; }
  .position-detail .body .name,
  .position-detail .body .content {
    border: 1px solid #00000020; }
  .position-detail .body .name {
    padding: 8px 16px; }
  .position-detail .body .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
    padding: 16px 24px;
    font-size: 20px;
    line-height: 30px; }
    .position-detail .body .content li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 12px; }

@media (max-width: 992px) {
  .position {
    padding-top: 80px; }
  .position-detail .information,
  .position-detail .map {
    width: 100%; }
  .position-detail .information ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px; }
  .position-detail .information .photo, .position-detail .information .body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .position-detail .map img {
    width: 100%; } }

@media (max-width: 767px) {
  .position {
    padding-top: 40px;
    padding-bottom: 64px; }
  .choose-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    margin: 24px 0; }
    .choose-position h5 {
      font-size: 16px;
      line-height: 24px; }
    .choose-position .store {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
  .position-detail .information ul {
    display: initial; }
  .position-detail .information .photo, .position-detail .information .body {
    width: 100%; } }

/*# sourceMappingURL=all.css.map */
